<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce">

    <listeners>
        <listener class-name="com.nopcommerce.utilities.Reporting"/>
    </listeners>

    <test name="E-Commerce Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.nopcommerce.testcases.TC_LoginTest_01"/>
            <class name="com.nopcommerce.testcases.TC_LoginDDT_02"/>
        </classes>

    </test>

</suite>